* {
    margin: 0;
    padding: 0;
}

.cabacalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;

}

.cartao {
    width: 260px;
    height: 20px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;

}
main { 
  flex: 1; 
} 